@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    transition: background-color 0.5s ease; 
}

.MainHeading{
  font-family: Alegreya Sans SC;
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
}
.sticky-div {
  position: sticky;
  top: 0; /* Make sure it sticks to the top of the viewport */
  height: 100vh;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: position 0.3s ease; /* Smooth transition for position change */
}

.non-sticky {
  position: static; /* Change to static when not sticky */
}